{{!--
The home page present basic settings of the campaign
--}}

{{!-- Title and buttons--}}
<div class="ui grid" style="padding-top:5%;">
    <div class="twelve wide column">
        <h1>Campaign "{{campaign_name}}" on experiment "{{exp_name}}"</h1>
    </div>
    <div class="right aligned four wide column">
        <div class="ui buttons">
            <button class="ui primary basic button" id="sync_button">
                <i class="sync icon"></i>
                Synchronize
            </button>
        </div>
    </div>
</div>
<script>
    $("#sync_button").click(function(){
        $(this).addClass("loading");
        $.get("/api/synchronize_campaign", function(data, status){
            if (status=="success"){
                location.reload();
            }
            else{
                console.log("kikou");
                $("#sync_button").removeClass("loading");
                $("#sync_button").removeClass("primary");
                $("#sync_button").addClass("negative");
            }
        });
    })
</script>


<!-- Campaign related informations -->
<div class="ui centered grid" , id="grid">
    <div class="ui horizontal divider">
        Campaign Settings
    </div>
    <div class="sixteen wide column">
        <table class="ui definition table">
            <tbody>
                <tr>
                    <td class="two wide column">Campaign Repository</td>
                    <td><a href="{{campaign_web_url}}">{{campaign_repo_url}}</a></td>
                </tr>
                <tr>
                    <td>Experiment Repository</td>
                    <td><a href="{{exp_web_url}}">{{exp_repo_url}}</a></td>
                </tr>
                <tr>
                    <td>Total number of executions</td>
                    <td>{{execution_count}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>